/**
 * The `env()` function used in this block of code
 * allows us to reference special variables that might be defined
 * by certain browsers. In this case, we are making sure that
 * the app stays within the 'safe' viewable area of a mobile phone,
 * and isn't covered up by the phone's UI.
 *
 * @see: https://developer.mozilla.org/en-US/docs/Web/CSS/env
 */
.Layout {
	display: flex;
	flex-direction: column;
	height: 100dvh;
}

.Layout > * {
	padding-inline: min(5dvw, 3.2rem);
}

.Layout-header {
	background-color: var(--color-bg);
	padding-bottom: 0.5rem;
	padding-top: max(env(safe-area-inset-top), 1rem);
	text-align: center;
}

.Layout-header > h1 {
	margin: 0;
}

.Layout-main {
	margin: 0 auto;
	padding-block: 0;
	padding-block-end: 6.26rem;
	width: min(72ch, 100%);
	flex-grow: 1;
}

.Nav {
	background-color: var(--color-bg);
	border-top: 1px solid var(--color-border);
	bottom: 0;
	display: flex;
	flex-direction: row;
	padding-bottom: max(env(safe-area-inset-bottom), 1rem);
	padding-top: 1rem;
	place-content: center;
	width: 100%;
}

.Nav-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: min(72ch, 100%);
	/* position: fixed;
	top: 0; */
}

.Nav-link {
	--color-text: var(--color-accent);

	color: var(--color-text);
	font-size: 1.4em;
	flex: 0 1 auto;
	line-height: 1;
	padding: 0.8rem;
	text-align: center;
	text-underline-offset: 0.1em;
}

.Nav-link.active {
	text-decoration-thickness: 0.22em;
	text-underline-offset: 0.1em;
}

.footer {
	background-color: #333;
	color: #e8c900;
	padding: 1.5rem 0;
	text-align: center;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.footer p {
	font-size: 1.5rem;
	margin: 0;
	font-weight: normal;
}

.footer ul {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1.5rem;
	padding: 0;
	list-style-type: none;
}

.footer a {
	color: #e8c900;
	text-decoration: none;
}

.footer a:hover {
	text-decoration: underline;
}

.footer p {
	margin-top: 1rem;
}

.footer ul li a {
	font-size: 1.5rem;
	font-weight: bold;
}
