@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Archivo Narrow';
		font-style: normal;
		font-weight: 100 900;
		font-display: swap;
		src: url('/fonts/Archivo_Narrow/ArchivoNarrow-VariableFont_wght.ttf')
			format('truetype'); /* Fallback */
	}
	@font-face {
		font-family: 'BowlbyOne Regular';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/fonts/Bowlby_One/BowlbyOne-Regular.ttf') format('truetype'); /* Fallback */
	}
	h1 {
		@apply text-5xl font-bowlby;
	}
	h2 {
		@apply text-5xl font-archivo font-bold;
	}
	h3 {
		@apply text-4xl font-archivo font-bold;
	}
	button {
		@apply btn 
		text-2xl font-sans font-bold btn-secondary m-2 text-white border-none hover:bg-neutral;
	}
	/*temporary for the 'Hello from the [/list] Page' titles */
	p {
		@apply font-archivo text-4xl;
	}
	input[type='text'],
	select {
		@apply input input-bordered mx-3 text-2xl;
	}
	/* header {
		@apply navbar drop-shadow-lg
		
	} */
	/* input[text=text] {
		@apply mx-4
	} */
}

:root {
	--color-black: hsla(220, 13%, 18%, 1);
	--color-gray-dark: hsla(220, 13%, 25%, 1);
	--color-white: hsla(220, 13%, 98%, 1);
	--color-gray-light: hsla(220, 13%, 94%, 1);
	--color-emerald-green: hsla(168, 92%, 25%, 1);
	--color-vermillion-green: hsla(168, 92%, 43%, 1);
	--color-cobalt-blue: hsla(215, 100%, 34%, 1);
	--color-pastel-blue: hsla(215, 100%, 73%, 1);
	--color-red: hsl(0, 68%, 42%);

	--color-accent: var(--color-pastel-blue);
	--color-bg: var(--color-black);
	--color-border: hsla(220, 13%, 32%, 1);
	--color-error: var(--color-red);
	--color-text: var(--color-white);

	/**
 * Set the value of 1rem to 10px to make relative units
 * easier to work with.
 * (The default is 16px. 16 * 62.5% = 10)
 */
	font-size: 62.5%;
}

@media screen and (prefers-color-scheme: light) {
	:root {
		--color-accent: var(--color-cobalt-blue);
		--color-bg: var(--color-white);
		--color-border: hsla(220, 13%, 78%, 1);
		--color-text: var(--color-black);
	}
}

:root.theme-light {
	--color-accent: var(--color-cobalt-blue);
	--color-bg: var(--color-white);
	--color-border: hsla(220, 13%, 78%, 1);
	--color-text: var(--color-black);
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	background-color: var(--color-bg);
	color: var(--color-text);
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		avenir next,
		avenir,
		segoe ui,
		helvetica neue,
		helvetica,
		Ubuntu,
		roboto,
		noto,
		arial,
		sans-serif;
	font-size: 1.8rem;
	/** Make sure the app fills the height of the screen. */
	height: 100dvh;
	line-height: 1.4;
	margin: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	--color-bg: var(--color-gray-dark);
	--color-text: var(--color-accent);

	background-color: var(--color-bg);
	border-radius: 4px;
	color: var(--color-text);
	display: inline-block;
	font-family:
		Menlo,
		Consolas,
		Monaco,
		Liberation Mono,
		Lucida Console,
		monospace;
	font-size: 0.9em;
	padding: 2px 2px;
}

@media screen and (prefers-color-scheme: light) {
	code {
		--color-bg: var(--color-gray-light);
	}
}

:root.theme-light code {
	--color-bg: var(--color-gray-light);
}
